html 
{
  height: 100%;
}

body 
{
  height: 100%;
}

.search-input {
  background-color: #dff0d8;
}

.navbar.app-header {
  z-index: 5;
}

.list-tables .btn-add {
  display: none;
}

.list-tables .active .btn-add {
  display: inline-block;
}

.logo {
    width: 45px;
    height: 45px;
    padding-top: 5px;
    float: left;
    padding-right: 5px;
}

.jumbotron.login
{
  width: 50%;
  margin: 0px auto;
}

#toast-container
{
	font-family: "wf_SegoeUINormal";
	font-weight: lighter;
}

.login-header
{
	margin-bottom: 50px;
}

.btn.btn-sign
{
	width: 30%;
	font-family: "wf_SegoeUINormal";
	font-size: 17pt;	
}

.sidebar .panel .panel-body {
  background-color: #eee;
}

.navbar-header {
	color: #564F8A; 
	width: 60%;
}

.test {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.navbar-default .navbar-brand {
  color: #564F8A !important;
  font-family: "wf_SegoeUIBold";
  font-size: x-large;

}

.main {
  padding: 40px;
}

.modal-backdrop {
  height: 100%;
  z-index: 10;
}

th.cell-warning,
th.cell-danger {
  text-align: center;
}

td.cell-warning,
td.cell-danger {
  cursor: pointer;
  text-align: center;
}

td.cell-warning {
  color: #F0AD4E;
}

td.cell-warning:hover {
  color: #FFFFFF;
  background-color: #F0AD4E;
}

td.cell-danger {
  color: #D9534F;
}

td.cell-danger:hover {
  color: #FFFFFF;
  background-color: #D9534F;
}

@font-face{
    font-family: 'wf_SegoeUILight';
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.eot');
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.eot?#iefix') format('embedded-opentype'),
        url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.woff') format('woff'),
        url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.ttf') format('truetype'),
        url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.svg#web') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'wf_SegoeUINormal';
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.eot');
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.eot?#iefix') format('embedded-opentype'),
        url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.woff') format('woff'),
        url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.ttf') format('truetype'),
        url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.svg#web') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'wf_SegoeUIBold';
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Bold/latest.eot');
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Bold/latest.eot?#iefix') format('embedded-opentype'),
        url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Bold/latest.woff') format('woff'),
        url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Bold/latest.ttf') format('truetype'),
        url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Bold/latest.svg#web') format('svg');
    font-weight: normal;
    font-style: normal;
}