html 
{
  height: 100%;
}

body 
{
  height: 100%;
}

.logo {
    width: 45px;
    height: 45px;
    padding-top: 5px;
    float: left;
    padding-right: 5px;
}

.jumbotron.login
{
  width: 50%;
  margin: 0px auto;
}

.bottom.aligned.row
{
	position: absolute; 
	bottom: 0; 
	left: 0;
	width: 100%;
}

.center.aligned.row
{
	font-family: "wf_SegoeUILight";
	margin-top: 30px;
	font-weight: lighter;
}

#toast-container
{
	font-family: "wf_SegoeUINormal";
	font-weight: lighter;
}

.username
{
	font-family: "wf_SegoeUIBold";
	font-size: 130%;
}

.login-header
{
	margin-bottom: 50px;
}

.btn.btn.btn-success.btn-sign
{
	width: 30%;
	font-family: "wf_SegoeUINormal";
	font-size: 17pt;	

}

.btn.btn-lg.btn-primary.btn-block
{
	font-size: 17pt;
	margin-left: auto;
	margin-right: auto;
	font-family: "wf_SegoeUINormal";	
	background-color: #564F8A; 

}
.btn.btn.btn-primary.btn-block
{
	width: 45%;
	font-family: "wf_SegoeUIBold";
	font-size:22pt;	
	border-color:#4D4679;
	background-color: #564F8A; 
}

.panel.panel-default.inpmsg-panel
{
	width: 96%;
	position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.panel.panel-default.msg-panel
{
	margin-top: 95px;
	max-height: 60px;
}

.navbar.navbar-default.navbar-fixed-top
{
	border-color: #564F8A;
	margin-left: auto;
	margin-right: auto;
	width:100%;
}

.navbar-header
{
	color: #564F8A; 
	width: 60%;
}

.test{
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.navbar-default .navbar-brand {
  color: #564F8A !important;
  font-family: "wf_SegoeUIBold";
  font-size: x-large;

}

.main {
  margin: 0 auto;
}

.ui-group-buttons .or{position:relative;float:left;width:.4em;height:1.3em;z-index:3;font-family:"wf_SegoeUINormal";font-size:21px}
.ui-group-buttons .or:before{position:absolute;top:50%;left:50%;content:'or';background-color:#5a5a5a;margin-top:-.1em;margin-left:-.9em;width:1.8em;height:1.8em;line-height:1.55;color:#fff;font-style:normal;font-weight:400;text-align:center;border-radius:500px;-webkit-box-shadow:0 0 0 1px rgba(0,0,0,0.1);box-shadow:0 0 0 1px rgba(0,0,0,0.1);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
.ui-group-buttons .or:after{position:absolute;top:0;left:0;content:' ';width:.4em;height:2.84em;background-color:rgba(0,0,0,0);border-top:.6em solid #5a5a5a;border-bottom:.6em solid #5a5a5a}
.ui-group-buttons .or.or-lg{height:1.3em;font-size:16px}
.ui-group-buttons .or.or-lg:after{height:2.85em}
.ui-group-buttons{display:inline-block;vertical-align:middle;width:100%;}
.ui-group-buttons:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.ui-group-buttons .btn{float:left;border-radius:0}
.ui-group-buttons .btn:first-child{margin-left:0;border-top-left-radius:.25em;border-bottom-left-radius:.25em;padding-right:15px;font-family:"wf_SegoeUINormal";font-size:23pt;width:49%;background-color: #564F8A;border-color:#4D4679;}
.ui-group-buttons .btn:last-child{border-top-right-radius:.25em;border-bottom-right-radius:.25em;padding-left:15px;font-family:"wf_SegoeUINormal";font-size:23pt;width:49%;}S

@font-face{
    font-family: 'wf_SegoeUILight';
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.eot');
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.eot?#iefix') format('embedded-opentype'),
        url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.woff') format('woff'),
        url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.ttf') format('truetype'),
        url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.svg#web') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'wf_SegoeUINormal';
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.eot');
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.eot?#iefix') format('embedded-opentype'),
        url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.woff') format('woff'),
        url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.ttf') format('truetype'),
        url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.svg#web') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'wf_SegoeUIBold';
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Bold/latest.eot');
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Bold/latest.eot?#iefix') format('embedded-opentype'),
        url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Bold/latest.woff') format('woff'),
        url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Bold/latest.ttf') format('truetype'),
        url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Bold/latest.svg#web') format('svg');
    font-weight: normal;
    font-style: normal;
}