<div class="test">
  worktime-controller
  <button ng-click="logout()" class="btn btn btn-danger">
    Log out
  </button>
</div>


<div class="row">
  <div class="col-sm-3 col-md-2">
    <div class="panel panel-success tables">
      <div class="panel-body">
        Tables
        <span class="label label-success">{{ tableCount }}</span>
      </div>
      <div class="panel-footer">
        <ul class="list-group">
          <li class="list-group-item" 
              ng-repeat="t in tables"
              ng-class="{ active: tableName === t.table_name }"
              ng-click="selectTable(t.table_name)">
            <p class="list-group-item-text" ng-bind="t.table_name"></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-9 col-md-10">
      <h1 class="tableTitle">Table<small ID="TableName">&nbsp{{ tableName }}</small></h1>
      <h3 ></h3>
      <hr />
      <div>
          <h4 >Add row:</h4>
      </div>
      <hr />
      <h4 ng-show="table.rows.length">Show data:</h4>
      <div ng-show="table.rows.length" class="panel-group">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th ng-repeat="col in table.cols">
                <span data-placement="top" ng-bind="col"></span>
              </th>
              <th class="cell-warning">
                <span class="glyphicon glyphicon-edit text-warning"
                      aria-hidden="true" data-placement="top"
                      data-title="Edit">
                </span>
              </th>
              <th class="cell-danger">
                <span class="glyphicon glyphicon-remove text-danger"
                      aria-hidden="true" data-placement="top"
                      data-title="Delete">
                </span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in table.rows">
              <td ng-repeat="col in table.cols">
                <span ng-bind="row[col]"></span>
              </td>
              <td class="cell-warning" ng-click="showModalUpdateRow(row.id, row)">
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true"
                    data-placement="top" data-title="Edit" bs-tooltip>
                  </span>
              </td>
              <td class="cell-danger" ng-click="showModalDeleteRow(row.id)">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"
                    data-placement="top" data-title="Delete" bs-tooltip>
                  </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>